<a href="https://colab.research.google.com/github/kingabdullafn/bestsellerbooks/blob/main/stshw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as sts
import seaborn as sns

In [2]:
df = pd.read_csv('/content/Bestsellers with categories.csv')
df.head(6)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction

In [3]:
numberdf = df.select_dtypes(include=np.number)

In [5]:
categordf = df.select_dtypes(include="object")

In [6]:
numberdf

     User Rating  Reviews  Price  Year
0            4.7    17350      8  2016
1            4.6     2052     22  2011
2            4.7    18979     15  2018
3            4.7    21424      6  2017
4            4.8     7665     12  2019
..           ...      ...    ...   ...
545          4.9     9413      8  2019
546          4.7    14331      8  2016
547          4.7    14331      8  2017
548          4.7    14331      8  2018
549          4.7    14331      8  2019

[550 rows x 4 columns]

In [7]:
categordf

,Name,Author,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,Non Fiction
1,11/22/63: A Novel,Stephen King,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,Non Fiction
3,1984 (Signet Classics),George Orwell,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,Non Fiction
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction

In [8]:
df.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [9]:
mean_userrating = np.mean (df['User Rating'])
print('The mean of the user rating is', mean_userrating)

The mean of the user rating is 4.618363636363637

In [10]:
median_userrating = np.median (df['User Rating'])
print("The median of the user rating is",median_userrating)

The median of the user rating is 4.7

In [12]:
mode_userrating = sts.mode (df['User Rating'])
print("The mode of the user rating is ", mode_userrating)

The mode of the user rating is  4.8

In [13]:
mean_price = np.mean (df['Price'])
print("The mean of the price is",mean_price)

The mean of the price is 13.1

In [17]:
median_price = df['Price'].median()
print("The median of the price is ",median_price)

The median of the price is  11.0

In [18]:
mode_price = sts.mode (df['Price'])
print("the mode of the price is ", mode_price)

the mode of the price is  8

In [19]:
mean_reviews = np.mean (df['Reviews'])
print("The mean of the reviews is ",mean_reviews)

The mean of the reviews is  11953.281818181818

In [21]:
median_reviews =  (df['Reviews']).median()
print("The median of the reviews is ", median_reviews)

The median of the reviews is  8580.0

In [22]:
mode_reviews = sts.mode (df['Reviews'])
print("The mode of the reviews is", mode_reviews)

The mode of the reviews is 8580

In [27]:
df.fillna(0)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction